
  @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');
  @import url('https://use fontawesome.com/releases/v6.4.2/css/all.css');

  body{
    height:100vh ;
    display:flex ;
    justify-content:center ;
    align-items:center ;
    margin: 0;
    background:#ccc ;
  }

  ul{

    font-family:roboto condensed,sans-serif ;
    display:flex
  }

  li{
    list-style: none;
    margin: 0.5px;
  }

  .fa-brands{
    color: #262626;
    font-size: 40px;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;

  }

  a{
    width: 210px;
    height: 80px;
    background: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -20px 20px 10px #00000080;
  }

  a span{
    color: #262626;
    padding: 0;
    margin: 0;
    position: absolute;
    top:30px ;
    letter-spacing: 4px;
    transition: .5s;
  }

  a:before {
    content:' ';
    position: absolute;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    top: 10px;
    left: -20px;
    transform:rotate(0deg) skewY(-45deg) ;
  }

  a::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    bottom: -20px;
    left: -10px;
    transform:rotate(0deg) skewX(-45)

  }
a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50 px;
  
}
li:hover  .fa-brands,
li:hover span { color:#fff ;

}
li:hover:nth-child(1) {
  & a {
    background: #3b5998;
    &::before{
      background:#365492 ;
    }
    &::after{
      background: #4a69ad;
    }
  }
}

li:hover:nth-child(2){
   & a {
    background: #00aced;
    &::before {
      background:#097aa5;
    }
    &::after {
      background: #53b9e0;

    }
   }
}

li:hover:nth-child(3) {
  & a {
    background: #241f1e;
    &::after {
      background: #444343;
    }
  }
}

li:hover:nth-child(4) {
  & a {
    background:#e4405f;
    &::before {
      background:#d81c3f ;
    }

    &::after {
      background:#e46880
    }


  }

}